/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

/*
 * Typography
 */


.help-block {
  font-style: italic;
  opacity: 0.8;
}

/*
 * Sidebar
 */

.bg-faded {
    background-color: #f7f7f7;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .navbar-brand {
  margin-left: 10px;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
