# Requirements for develepment/testing environment
-r requirements.txt
behave-django==1.4.0
black==24.8.0
coverage==7.6.1
factory-boy==3.3.0
Faker==26.1.0
isort==5.13.2
selenium==4.23.1
splinter==0.21.0
