# Requirements for develepment/testing environment
-r requirements.txt
behave-django==1.7.0
black==25.9.0
coverage==7.11.0
factory-boy==3.3.3
Faker==37.12.0
isort==7.0.0
selenium==4.38.0
splinter==0.21.0
