# Requirements for develepment/testing environment
-r requirements.txt
behave-django==1.5.0
black==25.1.0
coverage==7.8.2
factory-boy==3.3.3
Faker==37.3.0
isort==6.0.1
selenium==4.33.0
splinter==0.21.0
