# Common requirements
cryptography==46.0.3
Django==5.2.9
django-bootstrap5==25.3
django-filter==25.2
djangorestframework==3.16.1
docutils==0.22.3
drf-spectacular==0.29.0
GitPython==3.1.45
lxml==6.0.2
mysqlclient==2.2.7
python-dateutil==2.9.0
