{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<h1>{% trans "Attributes" %} - <small>{{ object }}</small></h1>
<p>{% trans "Give reasons for the attribute requisitions. Remove reason to remove requisition." %}</p> 
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    {% endbuttons %}
</form>

{% endblock %}