{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
  <h1>Attributes - <small>{{ attribute }}</small></h1>
  <dl class="row">
    <dt class="col-sm-3">{% trans "Friendly Name" %}</dt>
    <dd class="col-sm-9">{{ attribute.friendlyname }}</dd>
    <dt class="col-sm-3">{% trans "Attribute ID" %}</dt>
    <dd class="col-sm-9">{{ attribute.attributeid }}</dd>
    <dt class="col-sm-3">{% trans "Name / OID" %}</dt>
    <dd class="col-sm-9">{{ attribute.name }}</dd>
    <dt class="col-sm-3">{% trans "Name Format" %}</dt>
    <dd class="col-sm-9">{{ attribute.nameformat }}</dd>
    <dt class="col-sm-3">{% trans "LDAP attribute group" %}</dt>
    <dd class="col-sm-9">{{ attribute.group }}</dd>
    <dt class="col-sm-3">{% trans "OIDC claim" %}</dt>
    <dd class="col-sm-9">{{ attribute.oidc_claim }}</dd>
    <dt class="col-sm-3">{% trans "Public SAML" %}</dt>
    <dd class="col-sm-9">{% if attribute.public_saml %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="False">{% endif %}</dd>
    <dt class="col-sm-3">{% trans "Public LDAP" %}</dt>
    <dd class="col-sm-9">{% if attribute.public_ldap %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="False">{% endif %}</dd>
    <dt class="col-sm-3">{% trans "Public OIDC" %}</dt>
    <dd class="col-sm-9">{% if attribute.public_oidc %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="False">{% endif %}</dd>
    <dt class="col-sm-3">{% trans "Scoped" %}</dt>
    <dd class="col-sm-9">{% if attribute.scoped %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="False">{% endif %}</dd>
    <dt class="col-sm-3">{% trans "Information" %}</dt>
    <dd class="col-sm-9">{{ attribute.info }}</dd>
  </dl>
  <p><a href="/admin_django/rr/attribute/{{ attribute.pk }}/change/"><button type="button" class="btn btn-primary">{% trans "Edit in Django admin view" %}</button></a></p>
  <h2 id="service-providers">{% trans "Service Providers using the attribute" %}</h2>
  <table class="table table-sm table-responsive" aria-describedby="service-providers">
    <thead>
    <tr>
      <th scope="col">{% trans "SP" %}</th>
      <th scope="col">{% trans "Prod" %}</th>
      <th scope="col">{% trans "Test" %}</th>
      <th scope="col">{% trans "Reason" %}</th>
      <th scope="col">{% trans "Contact" %}</th>
      <th scope="col">{% trans "Validated" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <th scope="row"><a href="/summary/{{ object.sp.pk }}/">{{ object.sp }}</a></th>
        <td>{% if object.sp.production %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="False">{% endif %}</td>
        <td>{% if object.sp.test %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="False">{% endif %}</td>
        <td>{{ object.reason }}</td>
        <td>{% for contact in object.sp.contacts.all %}{{ contact.type }}: {{ contact.email }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
        <td>{{ object.validated }}</td>
      </tr>
    {% empty %}
      <tr>
        <th scope="row">{% trans "No attributes" %}</th>
        <td></td>
        <td></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}