{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1 id="attributes">Attributes</h1>
<div class="alert alert-success" role="alert">
<p>{% trans "Listing all attributes included in this system." %}</p>
<p>{% trans "Click attribute ID for more information." %}</p>
</div>
<table class="table table-sm table-responsive" aria-describedby="attributes">
  <thead>
    <tr>
      <th scope="col">{% trans "Friendly name" %}</th>
      <th scope="col">{% trans "Attribute ID" %}</th>
      <th scope="col">{% trans "OID / Name" %}</th>
      <th scope="col" data-toggle="tooltip" data-placement="top" title="{% trans "Public attribute for SAML." %}">{% trans "SAML" %}</th>
      <th scope="col" data-toggle="tooltip" data-placement="top" title="{% trans "Public attribute for LDAP." %}">{% trans "LDAP" %}</th>
      <th scope="col" data-toggle="tooltip" data-placement="top" title="{% trans "Public attribute for OIDC." %}">{% trans "OIDC" %}</th>
    </tr>
  </thead>
  <tbody>
{% for object in object_list %}
    <tr>
      <th scope="row"><a href="{% url 'attribute-view' object.pk %}">{{ object.friendlyname }}</a></th>
      <td>{{ object.attributeid }}</td>
      <td>{{ object.name }}</td>
      {% if object.public_saml %}<td class="text-success">&#10004;{% else %}<td class="text-danger">&#10005;{% endif %}</td>
      {% if object.public_ldap %}<td class="text-success">&#10004;{% else %}<td class="text-danger">&#10005;{% endif %}</td>
      {% if object.public_oidc %}<td class="text-success">&#10004;{% else %}<td class="text-danger">&#10005;{% endif %}</td>
    </tr>
{% empty %}
    <tr>
      <th scope="row">{% trans "No attributes" %}</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
{% block javascript %}
<script>
$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>
{% endblock %}