{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
  <h1 id="attributes">Attributes</h1>
  <div class="alert alert-success" role="alert">
    <p>{% trans "Listing all attributes included in this system." %}</p>
    <p>{% trans "Click attribute ID for more information." %}</p>
  </div>
  <table class="table table-sm table-responsive" aria-describedby="attributes">
    <thead>
    <tr>
      <th scope="col">{% trans "Friendly name" %}</th>
      <th scope="col">{% trans "Attribute ID" %}</th>
      <th scope="col">{% trans "OID / Name" %}</th>
      <th scope="col" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Public attribute for SAML." %}">{% trans "SAML" %}</th>
      <th scope="col" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Public attribute for LDAP." %}">{% trans "LDAP" %}</th>
      <th scope="col" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Public attribute for OIDC." %}">{% trans "OIDC" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <th scope="row"><a href="{% url 'attribute-view' object.pk %}">{{ object.friendlyname }}</a></th>
        <td>{{ object.attributeid }}</td>
        <td>{{ object.name }}</td>
        <td>{% if object.public_saml %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="False">{% endif %}</td>
        <td>{% if object.public_ldap %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="False">{% endif %}</td>
        <td>{% if object.public_oidc %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="False">{% endif %}</td>
      </tr>
    {% empty %}
      <tr>
        <th scope="row">{% trans "No attributes" %}</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}