{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<h1>{% trans "Certificates" %} - <small>{{ object }}</small></h1>
<h2>{% trans "List of certificates" %}</h2>
{% if object_list %}
<form action="" method='POST'>
{% csrf_token %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">{% trans "Subject" %}</th>
      <th scope="col">{% trans "Valid until" %}</th>
      <th scope="col">{% trans "Valid from" %}</th>
      <th scope="col">{% trans "Key size" %}</th>
	  <th scope="col">{% trans "Signing" %}</th>
      <th scope="col">{% trans "Encryption" %}</th>
      <th scope="col">{% trans "Remove" %}</th>
    </tr>
  </thead>
  <tbody>
{% for certificate in object_list %}
    <tr>
      <th scope="row">{{ certificate.cn }}</th>
      <td>{{ certificate.valid_until }}</td>
      <td>{{ certificate.valid_from }}</td>
      <td>{{ certificate.key_size }}</td>
      <td>{% if certificate.signing %}<object data="{% static "true.svg" %}"></object>{% else %}<object data="{% static "false.svg" %}"></object>{% endif %}</td>
      <td>{% if certificate.encryption %}<object data="{% static "true.svg" %}"></object>{% else %}<object data="{% static "false.svg" %}"></object>{% endif %}</td>
      <td><div class="checkbox"><input type="checkbox" name="{{ certificate.pk }}" class="" id="id_certificate" /></div></td>
    </tr>
{% endfor %}
  </tbody>
</table>
<input class="btn btn-danger" type="submit" name="remove_certificate" value="{% trans "Remove selected" %}" />
</form>
{% else %}
<p>{% trans "No certificates" %}</p>
{% endif %}
{% if form %}
<h2>{% trans "Add certificate" %}</h2>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
        <button type="submit" name="add_cert" class="btn btn-primary">{% trans "Submit" %}</button>
    {% endbuttons %}
</form>
{% else %}
{% trans "You cannot have more than two certificates" %}
{% endif %}
{% endblock %}