{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
  <h1>{% trans "Contacts" %} - <small>{{ object.display_identifier }}</small></h1>
  <div class="alert alert-success" role="alert">
    <p>{% trans "You need to specify at least the technical contact for a production use." %}</p>
    <p>{% trans "It's recommend that you use service addresses, not personal addresses. These contacts are used if the IdP administrators have to contact you about the SP or some client request has to be forwarded to you." %}</p>
  </div>

  <h2 id="contact-list">{% trans "List of contacts" %}</h2>
  {% if object_list %}
    <form action="" method='POST'>
      {% csrf_token %}
      <table class="table table-sm table-responsive" aria-describedby="contact-list">
        <thead>
        <tr>
          <th scope="col">{% trans "Type" %}</th>
          <th scope="col">{% trans "First name" %}</th>
          <th scope="col">{% trans "Last name" %}</th>
          <th scope="col">{% trans "E-Mail" %}</th>
          <th scope="col">{% trans "Remove" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in object_list %}
          <tr>
            <th scope="row">{{ contact.get_type_display }}</th>
            <td>{{ contact.firstname }}</td>
            <td>{{ contact.lastname }}</td>
            <td>{{ contact.email }}</td>
            <td><div class="checkbox"><input type="checkbox" aria-label="{%  trans "Mark for removal" %}" name="{{ contact.pk }}" class="" id="id_contact" /></div></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <p><input class="btn btn-danger" type="submit" data-toggle="confirmation" name="remove_contact" value="{% trans "Remove selected" %}" /></p>
    </form>
  {% else %}
    <p>{% trans "No contacts" %}</p>
  {% endif %}
  {% if form %}
    <h2>{% trans "Add contact" %}</h2>
    <form action="" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons %}
        <p><button type="submit" name="add_contact" class="btn btn-primary">{% trans "Save" %}</button></p>
      {% endbuttons %}
    </form>
  {% endif %}
{% endblock %}
{% block javascript %}
  <script src="{% static "js/jquery.popconfirm.js" %}"></script>
  <script>
      $("[data-toggle='confirmation']").popConfirm({
          title: "{% trans "Confirm removal" %}",
          content: "{% trans "Do you want to remove selected contacts?" %}",
          placement: "bottom",
          container: "body",
          yesBtn: "{% trans "Confirm" %}",
          noBtn: "{% trans "Cancel" %}"
      });
  </script>
{% endblock %}