{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<h1>{% trans "Endpoints" %} - <small>{{ object }}</small></h1>
<h2>{% trans "List of endpoints" %}</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">{% trans "Type" %}</th>
      <th scope="col">{% trans "Binding" %}</th>
      <th scope="col">{% trans "URL" %}</th>
      <th scope="col">{% trans "Remove" %}</th>
    </tr>
  </thead>
  <tbody>
  <form action="" method='POST'>
  {% csrf_token %}
{% for endpoint in object_list %}
    <tr>
      <th scope="row">{{ endpoint.get_type_display }}</th>
      <td>{{ endpoint.get_binding_display }}</td>
      <td>{{ endpoint.url }}</td>
      <td><input class="btn btn-danger" type="submit" name="{{ endpoint.pk }}" value="Remove" /></td>
    </tr>
{% empty %}
    <tr>
      <th scope="row">{% trans "No endpoints" %}</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
{% endfor %}
  </form>
  </tbody>
</table>
<h2>{% trans "Add endpoint" %}</h2>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
        <button type="submit" name="add_endpoint" class="btn btn-primary">{% trans "Submit" %}</button>
    {% endbuttons %}
</form>
{% endblock %}