{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<h1 class="page-header">{% trans "Endpoints" %} - <small>{{ object }}</small></h1>
<div class="alert alert-success" role="alert">
<p>{% trans "Endpoints are communication addresses for SP." %}</p>
<p>{% trans "In most cases you only have to specify AssertionConsumerService with HTTP-POST binding." %}</p>
<p>{% trans "If the service supports Single Logout Service, you should also specify endpoint for that." %}</p>
</div>

<h2>{% trans "List of endpoints" %}</h2>
{% if object_list %}
<form action="" method='POST'>
{% csrf_token %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">{% trans "Type" %}</th>
      <th scope="col">{% trans "Binding" %}</th>
      <th scope="col">{% trans "URL" %}</th>
      <th scope="col">{% trans "Index" %}</th>
      <th scope="col">{% trans "Remove" %}</th>
    </tr>
  </thead>
  <tbody>
{% for endpoint in object_list %}
    <tr>
      <th scope="row">{{ endpoint.get_type_display }}</th>
      <td>{{ endpoint.get_binding_display }}</td>
      <td>{{ endpoint.url }}</td>
      <td>{{ endpoint.index }}</td>
      <td><div class="checkbox"><input type="checkbox" name="{{ endpoint.pk }}" id="id_endpoint_{{ endpoint.pk }}" /></div></td>
    </tr>
{% endfor %}
  </tbody>
</table>
<p><input class="btn btn-danger" type="submit" data-toggle="confirmation" name="remove_endpoint" value="{% trans "Remove selected" %}" /></p>
</form>
{% else %}
<p>{% trans "No endpoints" %}</p>
{% endif %}

{% if form %}
<h2>{% trans "Add endpoint" %}</h2>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
    <p><button type="submit" name="add_endpoint" class="btn btn-primary">{% trans "Save" %}</button></p>
    {% endbuttons %}
</form>
{% endif %}
{% endblock %}
{% block javascript %}
  <script src="{% static "js/jquery.popconfirm.js" %}"></script>
  <script>
  $("[data-toggle='confirmation']").popConfirm({
    title: "{% trans "Confirm removal" %}",
    content: "{% trans "Do you want to remove selected endpoints?" %}",
    placement: "bottom",
    container: "body",
    yesBtn: "{% trans "Confirm" %}",
    noBtn: "{% trans "Cancel" %}"
  });
  </script>
{% endblock %}