{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <h1>{% trans "Basic information" %} - <small>{{ object.display_identifier }}</small></h1>
  <div class="alert alert-success" role="alert">
    <p>{% trans "Basic information for your service provider. Necessary information for production use are marked." %}</p>
  </div>

  <form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% bootstrap_button _("Save") button_type="submit" button_class="btn-primary" %}
  </form>
{% endblock %}