{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <h1>{% trans "Adding a new service provider" %}</h1>
  <div class="alert alert-success" role="alert">
    <p>{% trans "This form is used to add a new service to the University of Helsinki's single sign on system." %}</p>
    <p>{% trans "More information about configuring and registering service providers can be found from the external site "%} <a target="_blank" rel="noopener noreferrer" href='{% trans "instructions_url_saml" %}'>{% trans "instructions_url_saml" %}</a>.</p>
    <p><strong>{% trans "Required attributes for the production SPs." %}</strong></p>
    <ul>
      <li>{% trans "Entity Id" %}</li>
      <li>{% trans "Service name in English or in Finnish" %}</li>
      <li>{% trans "Service description in English or in Finnish" %}</li>
      <li>{% trans "Privacy policy URL in English or in Finnish" %}</li>
    </ul>
    <p><strong>{% trans "Some of the attributes are defined later in different forms." %}</strong></p>
    <ul>
      <li>{% trans "Certificates" %}</li>
      <li>{% trans "AssertionConsumerService endpoint" %}</li>
      <li>{% trans "Technical and support contacts" %}</li>
    </ul>
    <p><a href="{% url 'metadata-import' %}">{% trans "Add by importing service provider metadata" %}</a></p>
  </div>

  <form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% bootstrap_button _("Save") button_type="submit" button_class="btn-primary" %}
  </form>
{% endblock %}