{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<h1>{% trans "Details" %} - <small>{{ object }}</small></h1>
<h2>{% trans "Basic Information" %}</h2>
<dl class="row">
    <dt class="col-sm-3">{% trans "Entity Id" %}</dt>
    <dd class="col-sm-9">{{ object.entity_id }}</dd>
    <dt class="col-sm-3">{% trans "Service Name (Finnish)" %}</dt>
    <dd class="col-sm-9">{{ object.name_fi }}</dd>
    <dt class="col-sm-3">{% trans "Service Name (English)" %}</dt>
    <dd class="col-sm-9">{{ object.name_en }}</dd>
    <dt class="col-sm-3">{% trans "Service Name (Swedish)" %}</dt>
    <dd class="col-sm-9">{{ object.name_sv }}</dd>
    <dt class="col-sm-3">{% trans "Service Description (Finnish)" %}</dt>
    <dd class="col-sm-9">{{ object.description_fi }}</dd>
    <dt class="col-sm-3">{% trans "Service Description (English)" %}</dt>
    <dd class="col-sm-9">{{ object.description_en }}</dd>
    <dt class="col-sm-3">{% trans "Service Description (Swedish)" %}</dt>
    <dd class="col-sm-9">{{ object.description_sv }}</dd>
</dl>
<h2>{% trans "Attributes" %}</h2>
<dl class="row">
    <dt class="col-sm-3"><h3>{% trans "Attribute" %}</h3></dt>
    <dd class="col-sm-9"><h3>{% trans "Reason" %}</h3></dd>
{% for attribute in object.spattribute_set.all %}
    <dt class="col-sm-3">{{ attribute.attribute }}</dt>
    <dd class="col-sm-9">{{ attribute.reason }}</dd>
{% empty %}
    <dt>{% trans "No attribute requisitions" %}</dt>
{% endfor %}
</dl>
{% endblock %}