{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<h1>{% trans "Technical information" %} - <small>{{ object.display_identifier }}</small></h1>
<div class="alert alert-success" role="alert">
<p>{% trans "Techical attributes for your service provider. Necessary information for the production use are marked." %}</p>
</div>

<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
    <p><button type="submit" class="btn btn-primary">{% trans "Save" %}</button></p>
    {% endbuttons %}
</form>
<h2>{% trans "Client secret" %}</h2>
    <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#show_client_secret" aria-expanded="false" aria-controls="show_client_secret" name="show_client_secret">{% trans "Show client secret" %}</button>
	<div class="collapse" id="show_client_secret">
    <p>{{ object.get_client_secret }}</p>
	</div><Br><Br>
{% endblock %}
{% block javascript %}
<script src="{% static "js/jquery.are-you-sure.js" %}"></script>
<script>
  $(function() {
    $('form').areYouSure( {'message':'{% trans "You have modified the form without saving it." %}'} );
  })
</script>
{% endblock %}