{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<h1>{% trans "Service Providers" %}</h1>
<p>{% trans "This list includes all service providers you currently have administration access." %}
<p><a href="{% url 'serviceprovider-add' %}"><button type="button" class="btn btn-primary btn-lg btn-block">{% trans "Add a new service provider" %}</button></a></p>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">{% trans "entityID" %}</th>
      <th scope="col">{% trans "Name" %}</th>
      <th scope="col">{% trans "Prod" %}</th>
      <th scope="col">{% trans "Test" %}</th>
      <th scope="col">{% trans "Status" %}</th>
    </tr>
  </thead>
  <tbody>
  <form action="" method='POST'>
  {% csrf_token %}
{% for object in object_list %}
    <tr>
      <th scope="row"><a href="/summary/{{ object.pk }}/">{{ object.entity_id  }}</a></th>
      <td>{{ object.name }}</td>
      <td>{% if object.production %}<object data="{% static "true.svg" %}"></object>{% else %}{% endif %}</td>
      <td>{% if object.test %}<object data="{% static "true.svg" %}"></object>{% else %}{% endif %}</td>
      {% if object.validated and not object.modified %}<td class="table-success">{% trans "OK "%}</td>{% else %}<td class="table-warning">{% trans "Modified "%}</td>{% endif %}
    </tr>
{% empty %}
    <tr>
      <th scope="row">{% trans "You do not have access to any service providers." %}</th>
      <td></td>
      <td></td>
    </tr>
{% endfor %}
  </form>
  </tbody>
</table>
{% endblock %}