{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
  <h1>{% trans "Adding a new OIDC relying party" %}</h1>
  <div class="alert alert-success" role="alert">
    <p>{% trans "This form is used to add a new OIDC service to the University of Helsinki's single sign on system." %}</p>
    <p>{% trans "More information about configuring and registering service providers can be found from the external site "%} <a target="_blank" rel="noopener noreferrer" href='{% trans "instructions_url_oidc" %}'>{% trans "instructions_url_oidc" %}</a>.</p>
    <p><strong>{% trans "Required attributes for the production RPs." %}</strong></p>
    <ul>
      <li>{% trans "Client Id" %}</li>
      <li>{% trans "Service name in English or in Finnish" %}</li>
      <li>{% trans "Service description in English or in Finnish" %}</li>
      <li>{% trans "Privacy policy URL in English or in Finnish" %}</li>
    </ul>
  </div>

  <form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
      <p><button type="submit" class="btn btn-primary">{% trans "Save" %}</button></p>
    {% endbuttons %}
  </form>
{% endblock %}
{% block javascript %}
  <script src="{% static "js/jquery.are-you-sure.js" %}"></script>
  <script>
      $(function() {
          $('form').areYouSure( {'message':'{% trans "You have modified the form without saving it." %}'} );
      })
  </script>
{% endblock %}