{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <h1>{% trans "Technical information" %} - <small>{{ object.display_identifier }}</small></h1>
  <div class="alert alert-success" role="alert">
    <p>{% trans "Techical attributes for your service provider." %}</p>
  </div>

  <form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form_errors form type='non_fields' %}
    {% bootstrap_field form.uses_ldapauth layout='horizontal' %}
    {% bootstrap_field form.server_names layout='horizontal' %}
    {% bootstrap_field form.target_group layout='horizontal' %}
    {% bootstrap_field form.service_account layout='horizontal' %}
    <div class="collapse" id="serviceAccountCollapse">{% bootstrap_field form.service_account_contact layout='horizontal' %}</div>
    {% bootstrap_field form.can_access_all_ldap_groups layout='horizontal' %}
    {% bootstrap_field form.local_storage_users layout='horizontal' %}
    {% bootstrap_field form.local_storage_passwords layout='horizontal' %}
    <div class="collapse" id="localPasswordCollapse">{% bootstrap_field form.local_storage_passwords_info layout='horizontal' %}</div>
    {% bootstrap_field form.local_storage_groups layout='horizontal' %}
    {% bootstrap_field form.production layout='horizontal' %}
    {% bootstrap_button _("Save") button_type="submit" button_class="btn-primary" %}
  </form>
{% endblock %}
