{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% load attribute_filters %}
{% block content %}
<h1>{% trans "Details" %} - <small>{{ object.display_identifier }}</small></h1>
<table class="table table-sm">
  <tbody>
    <tr>
      <td>{% trans "Colors legend:" %}</td>
      <td class="table-warning">{% trans "Modified since last validation" %}</td>
      <td class="table-danger">{% trans "Removed since last validation" %}</td>
    </tr>
  </tbody>  
</table>
<br>

{% if missing %}
<div class="alert alert-info" role="alert">
<h2>{% trans "Missing data" %}</h2>
{% if object.production %}
<p>{% trans "This service provider is marked for production IdPs but is missing following data:" %}</p>
{% else %}
<p>{% trans "This service provider is marked for test IdPs but it is missing following data:" %}</p>
{% endif %}
<ul>
{% for field in missing %}<li>{{ field |safe }}</li>{% endfor %}
</ul>
</div>
{% endif %}
{% if object.modified and not form %}
<div class="alert alert-warning" role="alert">
<h2>{% trans "Waiting for validation" %}</h2>
<p>{% trans "There are changes waiting for validation by the IdP administrators." %}</p>
<p>{% trans "You will receive an email when the changes are validated." %}</p>
</div>
{% endif %}
{% if form %}
<div class="alert alert-warning" role="alert">
<h2>{% trans "Validate changes" %}</h2>
<p>{% trans "This object has changed. Click the button to validate all changes listed in this page." %}</p>
<form action="" method='POST'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <p><input class="btn btn-success" type="submit" name="validate_changes" value="{% trans "Validate changes" %}" /></p>
    {% endbuttons %}
</form>
</div>
{% endif %}

<h2>{% trans "Basic information" %}</h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">{% trans "Attribute" %}</th>
      <th scope="col">{% trans "Value" %}</th>{% if history_object %}
      <th scope="col">{% trans "Validated value" %}</th>{% endif %}
    </tr>
  </thead>
  <tbody>
{% for f in object.get_basic_fields %}
{% if history_object %}
    {% if f.value != history_object|get_item:f.name %}<tr class="table-warning">{% else %}<tr>{% endif %}
      <td scope="row">{{ f.label }}</td>
      {% if f.value == True %}<td class="text-success">&#10004;{% elif f.value == False %}<td class="text-danger">&#10005;{% else %}<td>{{ f.value }}{% endif %}</td>
      {% if history_object|get_item:f.name == True %}<td class="text-success">&#10004;{% elif history_object|get_item:f.name == False %}<td class="text-danger">&#10005;{% else %}<td>{{ history_object|get_item:f.name }}{% endif %}</td>
    </tr>
{% else %}
    <tr>
      <td scope="row">{{ f.label }}</td>
      {% if f.value == True %}<td class="text-success">&#10004;{% elif f.value == False %}<td class="text-danger">x{% else %}<td>{{ f.value }}{% endif %}</td>
    </tr>
{% endif %}
{% endfor %}
  </tbody>
</table>
<br>
{% if object.service_type == "saml" %}
<h2>{% trans "Technical attributes" %}</h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">{% trans "Attribute" %}</th>
      <th scope="col">{% trans "Value" %}</th>{% if history_object %}
      <th scope="col">{% trans "Validated value" %}</th>{% endif %}
    </tr>
  </thead>
  <tbody>
{% for f in object.get_technical_fields %}
{% if history_object %}
    {% if f.value != history_object|get_item:f.name %}<tr class="table-warning">{% else %}<tr>{% endif %}
      <td scope="row">{{ f.label }}</td>
      {% if f.value == True %}<td class="text-success">&#10004;{% elif f.value == False %}<td class="text-danger">x{% else %}<td>{{ f.value }}{% endif %}</td>
      {% if history_object|get_item:f.name == True %}<td class="text-success">&#10004;{% elif history_object|get_item:f.name == False %}<td class="text-danger">&#10005;{% else %}<td>{{ history_object|get_item:f.name }}{% endif %}</td>
    </tr>
{% else %}
    <tr>
      <td scope="row">{{ f.label }}</td>
      {% if f.value == True %}<td class="text-success">&#10004;{% elif f.value == False %}<td class="text-danger">x{% else %}<td>{{ f.value }}{% endif %}</td>
    </tr>
{% endif %}
{% endfor %}
  </tbody>
</table>
<br>
{% elif object.service_type == "ldap" %}
<h2>{% trans "Technical attributes" %}</h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">{% trans "Attribute" %}</th>
      <th scope="col">{% trans "Value" %}</th>{% if history_object %}
      <th scope="col">{% trans "Validated value" %}</th>{% endif %}
    </tr>
  </thead>
  <tbody>
{% for f in object.get_ldap_technical_fields %}
{% if history_object %}
    {% if f.value != history_object|get_item:f.name %}<tr class="table-warning">{% else %}<tr>{% endif %}
      <td scope="row">{{ f.label }}</td>
      {% if f.value == True %}<td class="text-success">&#10004;{% elif f.value == False %}<td class="text-danger">x{% else %}<td>{{ f.value }}{% endif %}</td>
      {% if history_object|get_item:f.name == True %}<td class="text-success">&#10004;{% elif history_object|get_item:f.name == False %}<td class="text-danger">&#10005;{% else %}<td>{{ history_object|get_item:f.name }}{% endif %}</td>
    </tr>
{% else %}
    <tr>
      <td scope="row">{{ f.label }}</td>
      {% if f.value == True %}<td class="text-success">&#10004;{% elif f.value == False %}<td class="text-danger">x{% else %}<td>{{ f.value }}{% endif %}</td>
    </tr>
{% endif %}
{% endfor %}
  </tbody>
</table>
<br>
{% endif %}
<h2>{% trans "Registry administrators" %}</h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">{% trans "Name" %}</th>
      <th scope="col">{% trans "Email" %}</th>
    </tr>
  </thead>
  <tbody>
{% for o in object.admins.all %}
    <tr>
      <td scope="row">{{ o.first_name }} {{ o.last_name }}</td>
      <td>{{ o.email }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
<br>

<h2>{% trans "Attribute requisitions" %}</h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">{% trans "Attribute" %}</th>
      <th scope="col">{% trans "Reason" %}</th>
    </tr>
  </thead>
  <tbody>
{% for a in attributes %}
    {% if a.end_at %}<tr class="table-danger">{% elif not a.validated %}<tr class="table-warning">{% else %}<tr>{% endif %}
      <td scope="row">{{ a.attribute }}</td>
      <td>{{ a.reason }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
<br>
{% if object.service_type == "saml" %}
<h2>{% trans "Certificates" %}</h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">{% trans "Valid until" %}</th>
      <th scope="col">{% trans "Valid from" %}</th>
      <th scope="col">{% trans "Key size" %}</th>
    </tr>
  </thead>
  <tbody>
{% for a in certificates %}
    {% if a.end_at %}<tr class="table-danger">{% elif not a.validated %}<tr class="table-warning">{% else %}<tr>{% endif %}
      <td scope="row">{{ a.valid_until }}</td>
      <td>{{ a.valid_from }}</td>
      <td>{{ a.key_size }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
<br>
{% endif %}
<h2>{% trans "Contacts" %}</h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">{% trans "Type" %}</th>
      <th scope="col">{% trans "First name" %}</th>
      <th scope="col">{% trans "Last name" %}</th>
      <th scope="col">{% trans "Email" %}</th>
    </tr>
  </thead>
  <tbody>
{% for a in contacts %}
    {% if a.end_at %}<tr class="table-danger">{% elif not a.validated %}<tr class="table-warning">{% else %}<tr>{% endif %}
      <td scope="row">{{ a.get_type_display }}</td>
      <td>{{ a.firstname }}</td>
      <td>{{ a.lastname }}</td>
      <td>{{ a.email }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
<br>
{% if object.service_type == "saml" %}
<h2>{% trans "SAML endpoints" %}</h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">{% trans "Type" %}</th>
      <th scope="col">{% trans "Binding" %}</th>
      <th scope="col">{% trans "URL" %}</th>
      <th scope="col">{% trans "Index" %}</th>
    </tr>
  </thead>
  <tbody>
{% for a in endpoints %}
    {% if a.end_at %}<tr class="table-danger">{% elif not a.validated %}<tr class="table-warning">{% else %}<tr>{% endif %}
      <td scope="row">{{ a.get_type_display }}</td>
      <td>{{ a.get_binding_display }}</td>
      <td>{{ a.url }}</td>
      <td>{{ a.index }}</td>
    </tr>
{% endfor %}
  </tbody>  
</table>
{% endif %}
{% if object.service_type == "ldap" %}
<h2>{% trans "LDAP user groups" %}</h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">{% trans "name" %}</th>
    </tr>
  </thead>
  <tbody>
{% for a in usergroups %}
    {% if a.end_at %}<tr class="table-danger">{% elif not a.validated %}<tr class="table-warning">{% else %}<tr>{% endif %}
      <td scope="row">{{ a.name }}</td>
    </tr>
{% endfor %}
  </tbody>  
</table>
{% endif %}
{% if object.validated and not object.production and not object.test %}
<h2>{% trans "Removing this service provider" %}</h2>
<p><a href="{% url 'serviceprovider-delete' object.pk %}">{% trans "Click this link to remove this service provider" %}</a></p>
{% endif %}
{% endblock %}
