{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<h1>{% trans "Admins" %} - <small>{% if object.service_type == "saml" %}{{ object }}{% elif object.service_type == "ldap" %}{{ object.server_names }}{% endif %}</small></h1>
<div class="alert alert-success" role="alert">
<p>{% trans "Users who can manage this service provider. You can send invites through email." %}</p>
<p>{% trans "Users without a University of Helsinki login account have to requisition a local account from IdP administrators." %}</p>
</div>

<h2>{% trans "List of admins" %}</h2>
{% if object.admins.all %}
<form action="" method='POST'>
{% csrf_token %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">{% trans "First name" %}</th>
      <th scope="col">{% trans "Last name" %}</th>
      <th scope="col">{% trans "E-Mail" %}</th>
      <th scope="col">{% trans "Remove" %}</th>
    </tr>
  </thead>
  <tbody>
{% for admin in object.admins.all %}
    <tr>
      <td>{{ admin.first_name }}</td>
      <td>{{ admin.last_name }}</td>
      <td>{{ admin.email }}</td>
      <td><div class="checkbox"><input type="checkbox" name="{{ admin.pk }}" class="" id="id_admin" /></div></td>
    </tr>
{% endfor %}
  </form>
  </tbody>
</table>
<p><input class="btn btn-danger" type="submit" data-toggle="confirmation" name="remove_admin" value="{% trans "Remove selected" %}" /></p>
{% else %}
<p>{% trans "No admins" %}</p>
{% endif %}
<h2>{% trans "List of invites" %}</h2>
{% if object_list %}
<form action="" method='POST'>
<table class="table">
  <thead>
    <tr>
      <th scope="col">{% trans "E-Mail" %}</th>
      <th scope="col">{% trans "Valid until" %}</th>
      <th scope="col">{% trans "Creator" %}</th>
      <th scope="col">{% trans "Remove" %}</th>
    </tr>
  </thead>
  <tbody>
  {% csrf_token %}
{% for invite in object_list %}
    <tr>
      <td>{{ invite.email }}</td>
      <td>{{ invite.valid_until|date:'j.n.Y' }}</td>
      <td>{{ invite.creator.first_name }} {{ invite.creator.last_name }}</td>
      <td><div class="checkbox"><input type="checkbox" name="{{ invite.pk }}" class="" id="id_invite" /></div></td>
    </tr>
{% endfor %}
  </form>
  </tbody>
</table>
<p><input class="btn btn-danger" type="submit" data-toggle="confirmation" name="remove_invite" value="{% trans "Remove selected" %}" /></p>
{% else %}
<p>{% trans "No invites" %}</p>
{% endif %}
{% if form %}
<h2>{% trans "Add admin" %}</h2>
{% if error %}
<div class="alert alert-danger" role="alert">
<p>{{ error }}</p>
</div>
{% endif %}
{% if subject and message %}
<h4>{% trans "Example message" %}</h4>
{% trans "Subject" %}
<div class="alert alert-info" role="alert">
<pre>{{ subject }}</pre>
</div>
{% trans "Body" %}
<div class="alert alert-info" role="alert">
<pre>{{ message }}</pre>
</div>
{% endif %}
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
    <p><button type="submit" name="add_invite" class="btn btn-primary">{% trans "Send invitation" %}</button> <button type="submit" name="show_message" class="btn btn-info">{% trans "Show message" %}</button></p>
    {% endbuttons %}
</form>
{% endif %}
{% endblock %}
{% block javascript %}
  <script src="{% static "js/jquery.popconfirm.js" %}"></script>
  <script>
  $("[data-toggle='confirmation']").popConfirm({
    title: "{% trans "Confirm removal" %}",
    content: "{% trans "Do you want to remove selected admins/invites?" %}",
    placement: "bottom",
    container: "body",
    yesBtn: "{% trans "Confirm" %}",
    noBtn: "{% trans "Cancel" %}"
  });
  </script>
{% endblock %}