{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <h1 class="page-header" id="login-statistics">{% trans "Login Statistics" %} - <small>{{ object.display_identifier }}</small></h1>
  <div>
    <a href="{% url 'statistics-list' object.pk %}?days=7" class="btn {% if days == 7 %}btn-success{% else %}btn-primary{% endif %}">{% trans "Week" %}</a>
    <a href="{% url 'statistics-list' object.pk %}?days=31" class="btn {% if days == 31 %}btn-success{% else %}btn-primary{% endif %}">{% trans "Month" %}</a>
    <a href="{% url 'statistics-list' object.pk %}?days=365" class="btn {% if days == 365 %}btn-success{% else %}btn-primary{% endif %}">{% trans "Year" %}</a>
    <a href="{% url 'statistics-list' object.pk %}?days=0" class="btn {% if days == 0 %}btn-success{% else %}btn-primary{% endif %}">{% trans "All" %}</a>
  </div>
  {% if object_list %}
    <canvas id="statschart" width="75" height="50"></canvas>
    <p><button type="button" class="btn btn-primary" name="collapsesaml" data-bs-toggle="collapse" data-bs-target=".collapsetable">{% trans "Show table" %}</button></p>
    <table class="table table-sm table-responsive collapse out collapsetable" aria-describedby="login-statistics">
      <thead>
      <tr>
        <th scope="col">{% trans "Date" %}</th>
        <th scope="col">{% trans "Number of logins" %}</th>
        <th scope="col">{% trans "Unique users" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for stats in object_list %}
        <tr>
          <th scope="row">{{ stats.date }}</th>
          <td>{{ stats.logins }}</td>
          <td>{{ stats.users }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% trans "No statistics" %}</p>
  {% endif %}
{% endblock %}
{% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.js" integrity="sha256-5dsP1lVzcWPn5aOwu+zs+G+TqAu9oT8NUNM0C4n3H+4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js" integrity="sha256-6nqzDSbDjc8fLSa7Q+c6lFN7WPGQb1XhpUbdCTIbVhU=" crossorigin="anonymous"></script>
  <script type="text/javascript">
      const ctx = document.getElementById('statschart').getContext('2d');
      const statisticsChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: [{% for i in object_list %}"{{ i.date|date:"Y-m-d" }}",{% endfor %}],
              datasets: [{
                  label: '{% trans "Number of logins" %}',
                  data: [{% for i in object_list %}{{ i.logins }},{% endfor %}],
                  borderColor: '#28a745',
              },
              {
                  label: '{% trans "Unique users" %}',
                  data: [{% for i in object_list %}{% if i.users %}{{ i.users }}{% else %}0{% endif %},{% endfor %}],
                  borderColor: '#007bff',
              }]
          },
          options: {
              scales: {
                  x: {
                      type: 'time',
                      time: {
                          unit: 'week'
                      }
                  },
                  y: {
                      ticks: {
                          beginAtZero: true
                      }
                  }
              }
          }
      });
  </script>
{% endblock %}