{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<h1>{% trans "Test user attribute values" %} - <small>{{ object.display_identifier }}</small></h1>
<div class="alert alert-success" role="alert">
<p>{% trans "Listing all attributes requested by this service provider." %}</p>
</div>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form password_form layout='horizontal' %}
    {% buttons %}
    <p><button type="submit" name="reset_password" class="btn btn-primary">{% trans "Reset password" %}</button></p>
    {% endbuttons %}
</form>
<form action="" method='POST'>
{% csrf_token %}
<p><input class="btn btn-primary" type="submit" name="reset_userdata" value="{% trans "Reset name based data" %}" /> <input class="btn btn-primary" type="submit" name="reset_otherdata" value="{% trans "Reset other data with random values" %}" /></p>
</form>
<h2>{{ testuser }}</h2>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
    <p><button type="submit" name="save_data" class="btn btn-primary">{% trans "Save" %}</button></p>
    {% endbuttons %}
</form>
{% endblock %}