{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<h1>{% trans "Test users" %} - <small>{{ object }}</small></h1>
<div class="alert alert-success" role="alert">
<p>{% trans "These users are added to the test IdP database and can be used to test this SP against the test IdP." %}</p>
</div>
<h2>{% trans "List of users" %}</h2>
<div class="alert alert-success" role="alert">
<p>{% trans "Click the username to configure user attribute values." %}</p>
</div>
{% if object_list %}
<form action="" method='POST'>
{% csrf_token %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">{% trans "Username" %}</th>
      <th scope="col">{% trans "First name" %}</th>
      <th scope="col">{% trans "Last name" %}</th>
      <th scope="col">{% trans "Remove" %}</th>
    </tr>
  </thead>
  <tbody>
{% for user in object_list %}
    <tr>
      <th scope="row"><a href="{% url 'testuser-attribute-data' user.pk %}">{{ user.username }}</a></th>
      <td>{{ user.firstname }}</td>
      <td>{{ user.lastname }}</td>
      <td><div class="checkbox"><input type="checkbox" name="{{ user.pk }}" class="" id="id_user" /></div></td>
    </tr>
{% endfor %}
  </tbody>
</table>
<p><input class="btn btn-danger" type="submit" data-toggle="confirmation" name="remove_testuser" value="{% trans "Remove selected" %}" /></p>
</form>
{% else %}
<p>{% trans "No users" %}</p>
{% endif %}
{% if form %}
<h2>{% trans "Add a test user" %}</h2>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
    <p><button type="submit" name="add_testuser" class="btn btn-primary">{% trans "Save" %}</button></p>
    {% endbuttons %}
</form>
{% endif %}
{% endblock %}
{% block javascript %}
  <script src="{% static "js/popover.js" %}"></script>
  <script src="{% static "js/jquery.popconfirm.js" %}"></script>
  <script>
  $("[data-toggle='confirmation']").popConfirm({
    title: "{% trans "Confirm removal" %}",
    content: "{% trans "Do you want to remove selected test users?" %}",
    placement: "bottom",
    container: "body",
    yesBtn: "{% trans "Confirm" %}",
    noBtn: "{% trans "Cancel" %}"
  });
  </script>
{% endblock %}
