{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <h1>{% trans "User Groups" %} - <small>{{ object.display_identifier }}</small></h1>
  <div class="alert alert-success" role="alert">
    <p>{% trans "User Groups published via LDAP." %}</p>
  </div>

  <h2 id="user-group-list">{% trans "List of user groups" %}</h2>
  {% if object_list %}
    <form action="" method='POST'>
      {% csrf_token %}
      <table class="table table-sm table-responsive" aria-describedby="user-group-list">
        <thead>
        <tr>
          <th scope="col">{% trans "Name" %}</th>
          <th scope="col">{% trans "Remove" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for usergroup in object_list %}
          <tr>
            <th scope="row">{{ usergroup.name }}</th>
            <td><div class="checkbox"><input type="checkbox" aria-label="{%  trans "Mark for removal" %}" name="{{ usergroup.pk }}" class="" id="id_usergroup" /></div></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <p><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmationModal">{% trans "Remove selected" %}</button></p>
      <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmationModalLabel">{% trans "Confirm removal" %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% trans "Do you want to remove selected user groups?" %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
              <button type="submit" name="remove_usergroup" class="btn btn-primary">{% trans "Confirm" %}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  {% else %}
    <p>{% trans "No user groups" %}</p>
  {% endif %}
  {% if form %}
    <h2>{% trans "Add user group" %}</h2>
    <form action="" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% bootstrap_button _("Save") name="add_usergroup" button_type="submit" button_class="btn-primary" %}
    </form>
  {% endif %}
{% endblock %}